<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{200,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_01h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{200,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,204},{200,226}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_02h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,204},{200,226}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{200,232}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{200,232}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_03h.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{200,232}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{200,232}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{200,230}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{200,230}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_04h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{200,230}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{200,230}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,204},{200,226}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_05h.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,204},{200,226}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,406},{200,216}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{200,216}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_06h.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,406},{200,216}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{200,216}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,232},{200,224}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,224}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_07h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,204},{200,224}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,224}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{200,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>g_08h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,204},{200,226}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_01h.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{200,226}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,406},{200,222}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{200,222}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_02h.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{200,222}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{200,222}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,852},{200,214}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,214}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_03h.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,636},{200,214}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,214}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,608},{200,212}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_04h.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,608},{200,212}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,608},{200,212}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_05h.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,608},{200,212}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,810},{200,208}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{200,208}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_06h.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,810},{200,208}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{200,208}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{200,236}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_07h.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,236}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{200,236}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_08h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{200,236}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1712},{200,212}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_09h.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1498},{200,212}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1283},{200,213}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,213}}</string>
                <key>sourceSize</key>
                <string>{200,251}</string>
            </dict>
            <key>r_10h.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1068},{200,213}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,213}}</string>
                <key>sourceSize</key>
                <string>{200,251}</string>
            </dict>
            <key>s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,434},{200,214}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,214}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_01h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,406},{200,214}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,214}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{200,228}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{200,228}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_02h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{200,228}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{200,228}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{200,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,238}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_03h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{200,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,238}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,406},{200,214}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,214}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_04h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,406},{200,214}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,214}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,810},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1444},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1686},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1474},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1262},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1242},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1242},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1646},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1444},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1242},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1040},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1040},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1646},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1444},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1242},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1040},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,838},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,838},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1050},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,838},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,636},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,608},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>w_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,608},{200,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc9a58910b3ce385ca5297feedb50f53:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
