<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit_a00.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{155,207}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{155,207}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,753},{147,243}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{147,243}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,476},{161,235}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{161,235}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{145,249}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{145,249}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,247},{145,243}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{145,243}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,239},{161,235}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{161,235}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{145,249}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{145,249}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{145,243}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{145,243}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{161,235}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{161,235}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{146,249}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{146,249}}</string>
                <key>sourceSize</key>
                <string>{162,249}</string>
            </dict>
            <key>unit_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,735},{145,241}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{145,241}}</string>
                <key>sourceSize</key>
                <string>{163,249}</string>
            </dict>
            <key>unit_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{161,233}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{161,233}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,504},{145,247}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{145,247}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_e01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,492},{145,241}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{145,241}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_e02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,713},{161,233}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{161,233}}</string>
                <key>sourceSize</key>
                <string>{161,249}</string>
            </dict>
            <key>unit_e03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,249}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{146,249}}</string>
                <key>sourceSize</key>
                <string>{162,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b048b008358b50905c6f294d7e7683:1/1$</string>
            <key>textureFileName</key>
            <string>unit.png</string>
        </dict>
    </dict>
</plist>
